body {
    background-color:#6699ff;
}
div {
    background-color:#ffebd4;
    border:1px solid black;
    margin: 25px 10px;
    overflow:auto;
    padding:2px 10px;}

.left { width: 46%; }

.right {
    width: 46%; 
    float: right; 
    margin-top: 0px; } 
    
.passed { background-color: lightgreen; } 
.failed { background-color: lightcoral; } 