<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="bootstrap.php" 
         backupGlobals="false" 
         verbose="true" 
         colors="false">
  <php>
    <includePath>..</includePath>
  </php>

  <logging>
    
    <log lowUpperBound="35" highLowerBound="70" yui="true" highlight="true" charset="UTF-8" 
         target="reports/autocoverage"  type="coverage-html"/>
    <log target="reports/coverage.xml"  type="coverage-clover" />
    <log target="reports/logfile.tap"   type="tap" />
    <log target="reports/testdox.html"  type="testdox-html"/>
    <log target="reports/testdox.txt"   type="testdox-text" />
    
  </logging>
</phpunit>